Repository motanova84/Riemann-adelic: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, validation

codecov.yml:

# Codecov Configuration
# Official documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

github_checks:
  annotations: true

# Ignore paths that should not be included in coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/conftest.py"
  - ".github/**/*"
  - "docs/**/*"
  - "formalization/**/*"
  - "notebooks/**/*"
  - "examples/**/*"
  - "*.md"
  - "*.txt"
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "*.cfg"
  - "*.ini"
  - "setup.py"
  - "conftest.py"

# Flag management for different test types
flags:
  unittests:
    paths:
      - "utils/**/*"
      - "spectral_RH/**/*"
      - "inversion/**/*"
      - "dualidad/**/*"
      - "unicidad/**/*"
      - "operador/**/*"
    carryforward: true
  validation:
    paths:
      - "validate_*.py"
      - "validar_*.py"
    carryforward: true

[WIP] Implement test for cross-correlation function (#1551)
  MATHESIS_UNIVERSALIS_IMPLEMENTATION.md
  MATHESIS_UNIVERSALIS_QUICKSTART.md
  core/mathesis_universalis.py
  data/mathesis_universalis/demo_atlas3_report.json
  data/mathesis_universalis/det_test1_report.json
  data/mathesis_universalis/det_test2_report.json
  data/mathesis_universalis/integration_test_report.json
  data/mathesis_universalis/pt_test_report.json
  data/mathesis_universalis/score_test_report.json
  data/mathesis_universalis/test_report_report.json
  data/mathesis_universalis/test_spectrum_report.json
  operators/spectral_determinant_regularization.py
  tests/test_mathesis_universalis.py
  utils/explicit_sum_analyzer.py
Due: unittests

Implement Xi operator spectral verification with QCAL integration (#1550)
  XI_OPERATOR_SIMBIOSIS_IMPLEMENTATION_SUMMARY.md
  XI_OPERATOR_SIMBIOSIS_QUICKSTART.md
  XI_OPERATOR_SIMBIOSIS_README.md
  operators/xi_operator_simbiosis.py
  tests/test_xi_operator_simbiosis.py
  validate_xi_operator_simbiosis.py
Due: validation

📘 Actualizar resumen de validación QCAL automática
  README.md
  formalization/lean/validation_report.json
Due: none

Add files via upload
  Code_Generated_Image.png
Due: none

Implement weighted Sobolev domain D_T with essential self-adjointness and translation non-invariance (#1617)
  DOMAIN_DT_IMPLEMENTATION_SUMMARY.md
  DOMAIN_DT_README.md
  DOMAIN_DT_TASK_COMPLETION.md
  data/domain_dt_validation_certificate.json
  operators/domain_dt_operator.py
  tests/test_domain_dt_operator.py
  validate_domain_dt.py
Due: validation

[WIP] Investigate control of exponential growth by differential operator (#1612)
  KATO_EXPONENTIAL_IMPLEMENTATION.md
  data/kato_exponential_certificate.json
  kato_exponential_validation.png
  operators/kato_exponential_potential.py
  tests/test_kato_exponential.py
  validate_kato_exponential.py
Due: validation

[WIP] Analyze the adelic flow and its properties in Anosov dynamics (#1594)
  ADELIC_ANOSOV_FLOW_IMPLEMENTATION.md
  ADELIC_ANOSOV_FLOW_QUICKSTART.md
  ADELIC_ANOSOV_FLOW_TASK_COMPLETION.md
  data/adelic_anosov_flow_validation.json
  operators/adelic_anosov_flow.py
  tests/test_adelic_anosov_flow.py
  validate_adelic_anosov_flow.py
Due: validation

Implement form-boundedness of x² by T² via Hardy inequality and KLMN theorem (#1613)
  DILATION_OPERATOR_COMPLETION_CERTIFICATE.txt
  DILATION_OPERATOR_FORM_BOUND_IMPLEMENTATION_SUMMARY.md
  DILATION_OPERATOR_FORM_BOUND_README.md
  operators/dilation_operator_form_bound.py
  tests/test_dilation_operator_form_bound.py
  validate_dilation_operator_form_bound.py
Due: validation

Implement Nelson self-adjointness verification for reduced model operator (#1608)
  NELSON_SELF_ADJOINTNESS_IMPLEMENTATION_SUMMARY.md
  NELSON_SELF_ADJOINTNESS_README.md
  data/nelson_self_adjointness_certificate.json
  operators/nelson_self_adjointness.py
  tests/test_nelson_self_adjointness.py
  validate_nelson_self_adjointness.py
Due: validation

Implement Navier-Stokes adelic operator framework (replaces Anosov) (#1595)
  NAVIER_STOKES_ADELIC_IMPLEMENTATION.md
  NAVIER_STOKES_ADELIC_QUICKSTART.md
  NAVIER_STOKES_COMPLETE_SUMMARY.md
  operators/adelic_laplacian.py
  operators/navier_stokes_adelic.py
  tests/test_navier_stokes_adelic.py
  validate_navier_stokes_adelic.py
Due: validation

Implement Fredholm determinant constructor with 4-step spectral-zeta proof (#1590)
  FREDHOLM_DETERMINANT_CONSTRUCTOR_CERTIFICATE.txt
  FREDHOLM_DETERMINANT_CONSTRUCTOR_IMPLEMENTATION.md
  FREDHOLM_DETERMINANT_CONSTRUCTOR_QUICKREF.md
  FREDHOLM_DETERMINANT_CONSTRUCTOR_README.md
  operators/fredholm_determinant_constructor.py
  tests/test_fredholm_determinant_constructor.py
Due: none

Update validate_truncated_adelic_model.py
  validate_truncated_adelic_model.py
Due: validation

[WIP] Validate structure of controlled truncated model (#1603)
  TRUNCATED_ADELIC_MODEL_README.md
  tests/test_truncated_adelic_model.py
  truncated_adelic_model_certificate.json
  truncated_model_verification.png
  validate_truncated_adelic_model.py
Due: validation

Implement coercivity inequality proof for dilation operator T = -i(x d/dx + 1/2) (#1616)
  COERCIVITY_INEQUALITY_CERTIFICATE.txt
  COERCIVITY_INEQUALITY_IMPLEMENTATION_SUMMARY.md
  COERCIVITY_INEQUALITY_README.md
  operators/coercivity_inequality.py
  tests/test_coercivity_inequality.py
  validate_coercivity_inequality.py
Due: validation

[WIP] Add numerical verification of convergence for trace formula (#1618)
  IMPLEMENTATION_SUMMARY.md
  ROBUSTNESS_MULTIESCALA_IMPLEMENTATION_SUMMARY.md
  ROBUSTNESS_MULTIESCALA_README.md
  experiments/robustness_multiescala_atlas3.py
  robustness_convergence_analysis.png
  tests/test_robustness_multiescala.py
Due: none

Update operators/kato_small_verifier.py
  operators/kato_small_verifier.py
Due: none

Implement Atlas³-ABC unified operator framework connecting RH and ABC conjecture (#1599)
  ATLAS3_ABC_UNIFIED_IMPLEMENTATION_SUMMARY.md
  ATLAS3_ABC_UNIFIED_QUICKSTART.md
  ATLAS3_ABC_UNIFIED_README.md
  ATLAS3_ABC_UNIFIED_VISUAL_SUMMARY.txt
  FINAL_TASK_SUMMARY_ATLAS3_ABC.md
  data/certificates/atlas3_abc_unified_validation.json
  demo_atlas3_abc_unified.py
  operators/atlas3_abc_unified.py
  tests/test_atlas3_abc_unified.py
  validate_atlas3_abc_unified.py
Due: validation

🌀 Manifestación #709
  .qcal_manifest
  data/compilation_ceremony_1771065748.log
  data/observacion_v5.log
  data/validation_results.csv
Due: none

Update operators/hardy_exponential_inequality.py
  operators/hardy_exponential_inequality.py
Due: none

[WIP] Prove infinitesimal smallness of e^2y in forms (#1615)
  data/certificates/hardy_inequality_validation_certificate.json
  operators/hardy_exponential_inequality.py
  tests/test_hardy_exponential_inequality.py
  validate_hardy_inequality.py
Due: validation

Add RH V7.0 Completion Certificate validation system (#1619)
  IMPLEMENTATION_SUMMARY.md
  RH_V7_IMPLEMENTATION_COMPLETE.md
  V7_COMPLETION_VALIDATION_README.md
  data/RH_V7_COMPLETION_CERTIFICATE.json
  validate_rh_v7_completion_certificate.py
Due: validation

Implement biological signal injection into Xi operator with GUE preservation validation (#1620)
  HRV_INJECTION_IMPLEMENTATION_SUMMARY.md
  TASK_COMPLETION_HRV_INJECTION.md
  demo_biological_qcal.py
  operators/biological_perturbation.py
  src/biological/hrv_data_generator.py
  tests/test_biological_perturbation_injection.py
  tests/test_hrv_data_generator.py
  utils/gue_validator.py
Due: unittests

Implement torsion field network connecting Riemann-adelic ↔ noesis88 ↔ economia-qcal (#1621)
  MCP_NETWORK_README.md
  MCP_NETWORK_TORSION_QUICKSTART.md
  MCP_NETWORK_TORSION_TASK_COMPLETION.md
  data/mcp_network/bsd-mcp-server_events.jsonl
  data/mcp_network/dramaturgo_events.jsonl
  data/mcp_network/events.jsonl
  data/mcp_network/github-mcp-server_events.jsonl
  data/mcp_network/mcp_network_certificate.json
  data/mcp_network/mcp_network_state.json
  data/mcp_network/navier-mcp-server_events.jsonl
  data/mcp_network/registry.json
  data/mcp_network/riemann-mcp-server_events.jsonl
  data/mcp_network/torsion_network_certificate.json
  demo_mcp_torsion_network.py
  initialize_mcp_network.py
  mcp_network/__init__.py
  mcp_network/torsion_field.py
  tests/test_mcp_torsion_network.py
Due: none
