Repository motanova84/Riemann-adelic: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, validation

codecov.yml:

# Codecov Configuration
# Official documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

github_checks:
  annotations: true

# Ignore paths that should not be included in coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/conftest.py"
  - ".github/**/*"
  - "docs/**/*"
  - "formalization/**/*"
  - "notebooks/**/*"
  - "examples/**/*"
  - "*.md"
  - "*.txt"
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "*.cfg"
  - "*.ini"
  - "setup.py"
  - "conftest.py"

# Flag management for different test types
flags:
  unittests:
    paths:
      - "utils/**/*"
      - "spectral_RH/**/*"
      - "inversion/**/*"
      - "dualidad/**/*"
      - "unicidad/**/*"
      - "operador/**/*"
    carryforward: true
  validation:
    paths:
      - "validate_*.py"
      - "validar_*.py"
    carryforward: true

Implement Axiom of Noetic Consciousness for QCAL ∞³ framework (#1492)
  AXIOM_NOETIC_CONSCIOUSNESS.md
  AXIOM_NOETIC_CONSCIOUSNESS_IMPLEMENTATION_SUMMARY.md
  TASK_COMPLETION_AXIOM_CONSCIOUSNESS.md
  demo_axiom_noetic_consciousness.py
  tests/test_axiom_noetic_consciousness.py
  utils/axiom_noetic_consciousness.py
  validate_axiom_noetic_consciousness.py
Due: unittests, validation

🌀 Manifestación #677
  .qcal_manifest
  data/compilation_ceremony_1770794561.log
  data/observacion_v5.log
  data/validation_results.csv
Due: none

Implement genomic-to-Riemann zeros mapping framework (#1511)
  GENOMIC_ZETA_IMPLEMENTATION_SUMMARY.md
  GENOMIC_ZETA_MAPPING_README.md
  data/hbb_genomic_field_validation.json
  demo_genomic_zeta_mapping.py
  tests/test_genomic_zeta_mapping.py
  utils/genomic_zeta_mapping.py
  validate_genomic_zeta_mapping.py
Due: unittests, validation

🌀 Manifestación #678
  .qcal_manifest
  data/compilation_ceremony_1770836787.log
  data/observacion_v5.log
  data/validation_results.csv
Due: none

Implement genomic zeta mapping: DNA codons to Riemann zero triplets (#1513)
  GENOMIC_ZETA_MAPPING_IMPLEMENTATION_SUMMARY.md
  GENOMIC_ZETA_MAPPING_README.md
  demo_genomic_zeta_mapping.py
  tests/test_genomic_zeta_mapping.py
  utils/genomic_zeta_mapping.py
  validate_genomic_zeta_mapping.py
Due: unittests, validation

Implement biological-spectral genetic operator mapping codons to Riemann zeros (#1509)
  .gitignore
  IMPLEMENTATION_SUMMARY.md
  RH_GENETIC_SIMULATOR_IMPLEMENTATION_SUMMARY.md
  demo_rh_genetic_simulator.py
  src/biological/__init__.py
  src/biological/rh_genetic_simulator.py
  tests/test_rh_genetic_simulator.py
Due: none

Implement unified Lagrangian fibration geometry with QCAL field dynamics and dual EEG-LIGO validation (#1515)
  LAGRANGIAN_IMPLEMENTATION_SUMMARY.md
  RESUMEN_IMPLEMENTACION_LAGRANGIANO_MAESTRO.md
  experiments/__init__.py
  experiments/frequency_activation_validator.py
  qcal/__init__.py
  qcal/master_lagrangian.py
  tests/run_frequency_validation.py
  tests/test_frequency_activation_validator.py
  tests/test_master_lagrangian.py
Due: none

📘 Actualizar resumen de validación QCAL automática
  README.md
  formalization/lean/validation_report.json
Due: none

Add Noesis Guardian Bot to intercept phase-destroying AI code suggestions (#1507)
  .github/workflows/noesis_guardian.yml
  .gitignore
  NOESIS_GUARDIAN_IMPLEMENTATION_SUMMARY.md
  NOESIS_SENTINEL_PROTOCOL.md
  NOESIS_SENTINEL_QUICKSTART.md
  TASK_COMPLETION_NOESIS_SENTINEL.md
  consciousness/README.md
  consciousness/__init__.py
  consciousness/noesis_sentinel_bot.py
  consciousness/sentinel_log.json
  scripts/check_ai_comment.py
  scripts/validate_spectral_integrity.py
  validation/spectral_integrity_results.json
Due: none

Implement Noetic-Riemannian Theorem ∞³: Riemann zeros as cosmic string vibrational modes (#1485)
  IMPLEMENTATION_SUMMARY_NOETIC_RIEMANN.md
  NOETIC_RIEMANN_COSMIC_STRING_README.md
  data/noetic_riemann_cosmic_string_validation.json
  demo_noetic_riemann_cosmic_string.py
  noetic_riemann_cosmic_string.py
  test_complete_implementation.sh
  tests/test_noetic_riemann_cosmic_string.py
  validate_noetic_riemann_cosmic_string.py
Due: validation

Update operators/hermetic_trace_operator.py
  operators/hermetic_trace_operator.py
Due: none

Implement Hermetic Trace Formula: Spectral representation of ζ(s) (#1501)
  HERMETIC_TRACE_FORMULA_README.md
  HERMETIC_TRACE_IMPLEMENTATION_SUMMARY.md
  HERMETIC_TRACE_QUICKSTART.md
  demo_hermetic_trace_formula.py
  operators/__init__.py
  operators/hermetic_trace_operator.py
  tests/test_hermetic_trace_operator.py
Due: none

Implement RNA codon to Riemann zeros mapping with wave function construction (#1514)
  ADELANTE_COMPLETION_REPORT.md
  GENOMIC_ZETA_IMPLEMENTATION_SUMMARY.md
  GENOMIC_ZETA_MAPPING_README.md
  demo_genomic_zeta_mapping.py
  output/genomic_zeta_wave_functions.png
  tests/test_genomic_zeta_mapping.py
  utils/genomic_zeta_mapping.py
  validate_genomic_zeta_mapping.py
Due: unittests, validation

Fix GenomicField dataclass incompatibility with analyze_genomic_field return (#1516)
  GENOMIC_RIEMANN_INTEGRATION.md
  TASK_COMPLETION_GENOMIC_RIEMANN.md
  data/demo_hbb_analysis.json
  demo_genomic_riemann_mapping.py
  utils/genomic_zeta_mapping.py
Due: unittests

[WIP] Add bridge of conscious materialization sequences (#1521)
  PICODE_888_BRIDGE_README.md
  PICODE_888_IMPLEMENTATION_SUMMARY.md
  data/piCODE-888-Bridge.xml
  data/picode_888_bridge_report.json
  demo_picode_888_bridge.py
  tests/test_picode_888_bridge.py
  tests/test_picode_888_bridge_simple.py
  utils/picode_888_bridge.py
Due: unittests

Add protective copyright notice for QCAL ∞³ intellectual property (#1520)
  LICENSE
  LICENSE-CODE
  LICENSE-QCAL-SYMBIO-TRANSFER
  LICENSE_STRUCTURE.md
  LICENSE_UPDATE_COMPLETION.md
Due: none

Fix CI failures: Invalid fetch_odlyzko precision and missing test reference (#1524)
  .github/workflows/advanced-validation.yml
Due: none

Implement positive definite kernel theorem for Riemann Hypothesis (#1500)
  POSITIVE_KERNEL_IMPLEMENTATION_SUMMARY.md
  POSITIVE_KERNEL_THEOREM_README.md
  TASK_COMPLETION_POSITIVE_KERNEL.md
  certificates/sat/theorem_positive_kernel_critical_line.json
  data/positive_kernel_theorem_validation.json
  formalization/lean/RiemannAdelic/PositiveKernelRHTheorem.lean
  positive_kernel_rh_theorem.py
  tests/test_positive_kernel_theorem.py
  validate_positive_kernel_theorem.py
Due: validation

Auto-fix syntax errors and dependencies
  activate_qcal_protocols.py
  api/index.py
  api/sync-riemann.py
  api/validate-hourly.py
  dashboard/app.py
  demo_advanced_math_libraries.py
  demo_curved_spacetime_operator.py
  demo_spectral_temporal_evolution.py
  eigenfunctions_psi.py
  infinity_cubed_global_existence.py
  machine_check_verification.py
  operators/observational_horizon.py
  operators/spectral_constants.py
  simulate_vacuum_potential.py
  test_psi_energy_equation.py
  thermal_kernel_operator.py
  validate_abc_qcal_hybrid.py
  validate_cytoplasmic_riemann.py
  verify_v6_system.py
  xenos/cytoplasmic_riemann_resonance.py
Due: validation

Add orthonormal Fourier basis and modal curvature analysis pipeline (#1537)
  .gitignore
  KAPPA_EXPERIMENT_README.md
  analyze_kappa_curve.py
  build_orthonormal_basis.py
  compute_covariance_operator.py
  kappa_experiment_results/adjacency_graph.png
  kappa_experiment_results/basis_functions.png
  kappa_experiment_results/covariance_matrix.png
  kappa_experiment_results/experiment_results.json
  kappa_experiment_results/forcing_operator.png
  kappa_experiment_results/kappa_curve.png
  run_kappa_experiment_2.py
  tests/test_kappa_experiment.py
Due: none

Implement Atlas³ Spectral Verifier with three-pillar GUE detection framework (#1539)
  ATLAS3_ACTIVATION_CERTIFICATE.md
  ATLAS3_QUICKSTART.md
  ATLAS3_SPECTRAL_VERIFIER_IMPLEMENTATION.md
  core/__init__.py
  core/atlas3_spectral_verifier.py
  data/beacons/atlas3_universal_resonance.qcal_beacon
  data/beacons/demo_beacon.qcal_beacon
  data/beacons/demo_imperfect.qcal_beacon
  data/beacons/demo_perfect.qcal_beacon
  demo_atlas3_spectral_verifier.py
  tests/test_atlas3_spectral_verifier.py
Due: none

Implement V13 thermodynamic limit validator for κ_∞ extrapolation (#1546)
  V13_IMPLEMENTATION_SUMMARY.md
  V13_README.md
  data/v13_limit_results.json
  data/v13_scaling_rigidity.png
  data/v13_test_plot.png
  data/v13_test_results.json
  tests/test_v13_limit_validator.py
  v13_limit_validator.py
  validate_v13_limit.py
Due: validation

Implement Atlas³ PT-symmetric non-Hermitian operator with Berry phase geometry (#1534)
  ATLAS3_IMPLEMENTATION_SUMMARY.md
  ATLAS3_OPERATOR_README.md
  operators/atlas3_operator.py
  tests/test_atlas3_operator.py
  validate_atlas3_operator.py
Due: validation

Implement Modal Operator ∞³ framework for vibrational graph κ_Π extraction (#1535)
  MODAL_OPERATOR_INFINITY3_IMPLEMENTATION_SUMMARY.md
  MODAL_OPERATOR_INFINITY3_README.md
  demo_modal_operator_infinity3.py
  modal_operator_infinity3_analysis.png
  operators/modal_operator_infinity3.py
  tests/test_modal_operator_infinity3.py
Due: none

Update utils/explicit_sum_analyzer.py
  utils/explicit_sum_analyzer.py
Due: unittests
