Repository motanova84/Riemann-adelic: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, validation

codecov.yml:

# Codecov Configuration
# Official documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

github_checks:
  annotations: true

# Ignore paths that should not be included in coverage
ignore:
  - "tests/**/*"
  - "**/__init__.py"
  - "**/conftest.py"
  - ".github/**/*"
  - "docs/**/*"
  - "formalization/**/*"
  - "notebooks/**/*"
  - "examples/**/*"
  - "*.md"
  - "*.txt"
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "*.cfg"
  - "*.ini"
  - "setup.py"
  - "conftest.py"

# Flag management for different test types
flags:
  unittests:
    paths:
      - "utils/**/*"
      - "spectral_RH/**/*"
      - "inversion/**/*"
      - "dualidad/**/*"
      - "unicidad/**/*"
      - "operador/**/*"
    carryforward: true
  validation:
    paths:
      - "validate_*.py"
      - "validar_*.py"
    carryforward: true

📘 Actualizar resumen de validación QCAL automática
  README.md
  formalization/lean/validation_report.json
Due: none

Implement Emotional Stress-Energy Tensor Framework for QCAL ∞³ (#1465)
  .qcal_beacon
  EMOTIONAL_TENSOR_FRAMEWORK_README.md
  EMOTIONAL_TENSOR_IMPLEMENTATION.md
  EMOTIONAL_TENSOR_PR_SUMMARY.md
  EMOTIONAL_TENSOR_QUICKSTART.md
  demo_emotional_tensor_framework.py
  tests/test_emotional_tensor_framework.py
  utils/emotional_field_equations.py
  utils/emotional_network_topology.py
  utils/emotional_stress_tensor.py
  utils/emotional_synchronization.py
Due: unittests

Drop Python 3.10 support due to JAX 0.8.0+ requirement (#1483)
  .github/workflows/ci.yml
  .github/workflows/copilot-automerge.yml
  .github/workflows/monitor.yml
  .github/workflows/nightly.yml
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: none

🌀 Manifestación #655
  .qcal_manifest
  data/compilation_ceremony_1770574227.log
  data/observacion_v5.log
  data/validation_results.csv
Due: none

Auto-fix syntax errors and dependencies
  activate_qcal_protocols.py
  api/index.py
  api/sync-riemann.py
  api/validate-hourly.py
  dashboard/app.py
  demo_advanced_math_libraries.py
  demo_curved_spacetime_operator.py
  demo_spectral_temporal_evolution.py
  eigenfunctions_psi.py
  infinity_cubed_global_existence.py
  machine_check_verification.py
  operators/observational_horizon.py
  operators/spectral_constants.py
  simulate_vacuum_potential.py
  test_psi_energy_equation.py
  thermal_kernel_operator.py
  validate_abc_qcal_hybrid.py
  validate_cytoplasmic_riemann.py
  verify_v6_system.py
  xenos/cytoplasmic_riemann_resonance.py
Due: validation

Remove Python 3.10 support due to JAX dependency constraints (#1484)
  .github/workflows/nightly.yml
  NIGHTLY_CI_FIX_SUMMARY.md
  pyproject.toml
  requirements.txt
Due: none

Restore quantum coherence state from INCOHERENT to COHERENT (#1482)
  .github/scripts/noesis_boot.py
  .qcal_state.json
  NOESIS_BOOT_RETRY_4_RESOLUTION.md
  certificates/sat/validation_report.json
  noesis_boot_coherence_restoration_report.md
  noesis_boot_report.md
Due: none

Implement QCAL ∞³ expansion system with agents, dashboard, and notification infrastructure (#1402)
  .github/agents/specialized/axiom_emitter.py
  .github/agents/specialized/code_synthesizer.py
  .github/agents/specialized/qcal_prover.py
  .github/scripts/lean/lean_dependency_analyzer.py
  .github/scripts/lean/requirements.txt
  .github/scripts/notifications/discord_notifier.py
  .github/scripts/notifications/notification_manager.py
  .github/scripts/notifications/slack_notifier.py
  .github/scripts/test_integration.py
  EXPANSION_IMPLEMENTATION_COMPLETE.md
  START_EXPANDED_SYSTEM.sh
  dashboard/app.py
  dashboard/requirements.txt
  dashboard/static/dashboard.js
  dashboard/templates/index.html
  integration_test_report.json
Due: none

Update AUTO_QCAL_IMPLEMENTATION_SUMMARY.md
  AUTO_QCAL_IMPLEMENTATION_SUMMARY.md
Due: none

Auto-evolution #4264
  data/logs_4264.tar.gz
Due: none

Activate QCAL ∞³ protocols and specialized agents (ADELANTE) (#1471)
  .github/agents/specialized/axioms/axioms_generated_20260208.json
  .github/agents/specialized/axioms/qcal_axioms_20260208.lean
  AGENT_ACTIVATION_REPORT.json
  QCAL_ACTIVATION_COMPLETE.md
  data/qcal_activation_report.json
Due: none

🌀 Manifestación #669
  .qcal_manifest
  data/compilation_ceremony_1770577338.log
  data/observacion_v5.log
  data/validation_results.csv
Due: none

Add files via upload
  Teoría del Campo Coherente Cuántico.pdf
Due: none

Implement cryptographic authorship certification system with temporal proof chain (#1496)
  .qcal_beacon
  AUTHORSHIP_CERTIFICATION_COMPLETE.md
  AUTHORSHIP_CERTIFICATION_QUICKREF.md
  DECLARACION_USURPACION_ALGORITMICA_QCAL.md
  LICENSE-QCAL-SYMBIO-TRANSFER
  ZENODO_AUTHORSHIP_CERTIFICATION_GUIDE.md
  contracts/qcal_authorship_contract.json
  data/authorship_certification_validation_report.json
  tests/test_authorship_certification_integration.py
  validate_authorship_certification.py
  verify_authorship_system.py
Due: validation

🌀 Manifestación #671
  .qcal_manifest
  data/compilation_ceremony_1770692983.log
  data/observacion_v5.log
  data/validation_results.csv
Due: none

Implement spectral coordinates τ(p) for prime-to-temporal mapping in QCAL framework (#1498)
  SPECTRAL_COORDINATES_IMPLEMENTATION_SUMMARY.md
  SPECTRAL_COORDINATES_README.md
  demo_spectral_coordinates.py
  operators/__init__.py
  operators/spectral_coordinates.py
  tests/test_spectral_coordinates.py
  validate_spectral_coordinates.py
Due: validation

Update .qcal_repository_hash
  .qcal_repository_hash
Due: none

Implement T_∞³ self-adjoint operator with Riemann zero spectral alignment (#1502)
  T_INFINITY_CUBED_IMPLEMENTATION_SUMMARY.md
  T_INFINITY_CUBED_README.md
  data/t_infinity_cubed_validation_certificate.json
  demo_t_infinity_cubed.py
  operators/__init__.py
  operators/t_infinity_cubed.py
  t_infinity_cubed_visualization.png
  tests/test_t_infinity_cubed.py
  validate_t_infinity_cubed.py
Due: validation

🌀 Manifestación #673
  .qcal_manifest
  data/compilation_ceremony_1770770036.log
  data/observacion_v5.log
  data/validation_results.csv
Due: none

Implement projective geometry framework for dual-constant QCAL formalization (#1490)
  .qcal_beacon
  PLATOS_CAVE_IMPLEMENTATION_SUMMARY.md
  PLATOS_CAVE_QUICKSTART.md
  PLATOS_CAVE_THEOREM.md
  data/certificates/platos_cave_theorem_certificate.json
  demo_platos_cave_theorem.py
  formalization/lean/QCAL/PlatosCaveTheorem.lean
  projective_geometry_framework.py
  tests/test_platos_cave_theorem.py
  validate_platos_cave.py
Due: validation

Formalize Quantum Coherent Field Theory: constants, equations, validation (#1493)
  .qcal_beacon
  QUANTUM_COHERENT_FIELD_IMPLEMENTATION_SUMMARY.md
  QUANTUM_COHERENT_FIELD_QUICKSTART.md
  QUANTUM_COHERENT_FIELD_THEORY.md
  README.md
  formalization/lean/QCAL/QuantumCoherentField.lean
  utils/quantum_coherent_field.py
  validate_quantum_coherent_field.py
Due: unittests, validation

Implement chirality tensor operator for quantum biological predictions (#1508)
  IMPLEMENTATION_SUMMARY_QUANTUM_BIOLOGICAL_TENSOR.md
  QUANTUM_BIOLOGICAL_GYROSCOPY_README.md
  demo_quantum_biological_tensor.py
  operators/chirality_tensor.py
  src/biological/__init__.py
  src/biological/magnetoreception_analysis.py
  tests/test_quantum_biological_tensor.py
Due: none
